<!DOCTYPE html>
<html lang="es">
<head>
  
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if session['username'] %}
        <p>Bienvenido, {{ session['username'] }} | <a href="{{ url_for('logout') }}">Cerrar sesión</a></p>
    {% else %}
        <p><a href="{{ url_for('login') }}">Iniciar sesión</a> | <a href="{{ url_for('register') }}">Registrarse</a></p>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>